.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000d8;
  padding: 24px 0;
  @media (max-width: 790px) {
    position: relative;
  }
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}
.header-nav {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
  @media (max-width: 790px) {
    display: none;
  }
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-text {
  font-size: 24px;
  color: #fff;
}
.header-link {
  border: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  padding-bottom: 5px;
  transition: border-bottom-color 0.3s;
  background: none;
}
.header-logo {
  cursor: pointer;
}
.header-link__active {
  border-bottom-color: rgb(230, 0, 255);
}
.header-btn {
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid transparent;
  transition: 0.3s all;
}
.header-btn:hover {
  border-bottom-color: rgb(230, 0, 255);
}
.header-icon {
  width: 16px;
  height: 21px;
}
.header-icon path {
  fill: #fff;
  fill-opacity: 1;
}
.header-mobile {
  display: flex;
  align-items: baseline;
  gap: 18px;
}
.header-nav__icon {
  background: none;
  border: none;
  outline: none;
}
