.auth-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 420px;
  min-height: 540px;
  background-color: #fff;
  margin: 0 auto;
  z-index: 500;
  border-radius: 10px;
  padding: 64px 40px;
  margin-left: 20px;
  margin-right: 20px;
}
.auth-close {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: -16%;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border: none;
  border-radius: 100%;
  padding: 13px;
  @media (max-width: 790px) {
    right: 0;
  }
}
.auth-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.auth-icon {
  position: absolute;
  top: 30%;
  left: 5%;
}
.auth-icon path {
  transition: 0.3s all;
}
.auth-input {
  width: 100%;
  padding: 14px 16px 14px 45px;
  border-radius: 8px;
  border: 1px solid #000;
}
.input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}
.form-auth {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
.error {
  border-color: red;
}
.error-icon path {
  fill: red;
}
.auth-register {
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  border: none;
  background: none;
  margin-top: 24px;
}
.success-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: center;
}
.success-text {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
